body {
  margin: 0;
  font-family: "DynaPuff", cursive, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #00aaff, #00ff6c);
  color: white;
}

.App {
  text-align: center;
}

h1 {
  margin-top: 65px;
  margin-bottom: 45px;
}

h3 {
  margin-top: 60px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.complete {
  text-decoration: line-through;
  color: gray;
}

.modalOverlay {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modalContainer {
  max-width: 600px;
  width: 90%;
  position: fixed;
  top: 40%;
  left: 20%;
  background-color: white;

}

.todoContainer {
  display: flex;
  justify-content: space-between;
  width: 700px;
  margin: auto;
}

.addButton {
  background-color: rgba(0,0,0,0.1);
  color: white;
  border-color: white;
}